*{
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to bottom, #4facfe 0%, #00f2fe 100%);
    min-height: 100vh;
    margin: 0;
  }


#barra-pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
}

.icone-de-pesquisa{
    height: 20px;
}

#campo-pesquisa{
    width: 250px;
    border-radius: 25px;
}
